<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="" address="http://localhost:8000/ClaimsProviderService/Service" binding="wsHttpBinding" bindingConfiguration="ClaimsProviderServiceBinding" contract="IClaimsProviderService">
			</endpoint>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="ClaimsProviderServiceBinding">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
