<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  
  
  <microsoft.identityModel>
    <service>
      <securityTokenHandlers>
		  <add type="Microsoft.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			  <samlSecurityTokenRequirement issuerCertificateValidationMode="PeerOrChainTrust" issuerCertificateRevocationMode="Online" issuerCertificateTrustedStoreLocation="LocalMachine" mapToWindows="false" useWindowsTokenService="false">
				  <nameClaimType value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"/>
				  <roleClaimType value="schemas.microsoft.com/ws/2006/04/identity/claims/role"/>
			  </samlSecurityTokenRequirement>
		  </add>
      </securityTokenHandlers>
    </service>
  </microsoft.identityModel>
</configuration>