<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TokenSigningCeritificate" value="CN=SamlTokenSigningCertificate"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="ClaimsProvider.ClaimsProviderService" behaviorConfiguration="ClaimsProviderServiceBehavior">
				<host>
					<baseAddresses>
						<!-- configure base address provided by host -->
						<add baseAddress="http://localhost:8000/ClaimsProviderService/"/>
					</baseAddresses>
				</host>
				<!-- use base address provided by host -->
				<endpoint address="Service" binding="wsHttpBinding" bindingConfiguration="ClaimsProviderServiceBinding" contract="ClaimsProvider.IClaimsProviderService"/>
			</service>
		</services>

		<bindings>
			<wsHttpBinding>
				<binding name="ClaimsProviderServiceBinding">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ClaimsProviderServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="True"/>
					<serviceCredentials>
						<serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
